Repository ModelOriented/DALEX, pull requests merged in 2020-08, with the labels that each got.

#274 [python] dalex v0.2.0
  python/dalex/NEWS.md
  python/dalex/dalex/_explainer/checks.py
  python/dalex/dalex/_explainer/object.py
  python/dalex/dalex/dataset_level/_aggregated_profiles/checks.py
  python/dalex/dalex/dataset_level/_aggregated_profiles/object.py
  python/dalex/dalex/dataset_level/_aggregated_profiles/utils.py
  python/dalex/dalex/dataset_level/_model_performance/object.py
  python/dalex/dalex/dataset_level/_variable_importance/checks.py
  python/dalex/dalex/dataset_level/_variable_importance/object.py
  python/dalex/dalex/datasets/__init__.py
  python/dalex/dalex/datasets/_load.py
  python/dalex/dalex/datasets/data/apartments.csv
  python/dalex/dalex/datasets/data/apartments_test.csv
  python/dalex/dalex/instance_level/_break_down/object.py
  python/dalex/dalex/instance_level/_break_down/plot.py
  python/dalex/dalex/instance_level/_ceteris_paribus/checks.py
  python/dalex/dalex/instance_level/_ceteris_paribus/object.py
  python/dalex/dalex/instance_level/_ceteris_paribus/utils.py
  python/dalex/dalex/instance_level/_shap/object.py
  python/dalex/dalex/instance_level/_shap/plot.py
  python/dalex/setup.py
  python/dalex/test/test_aggregated_profiles.py
  python/dalex/test/test_ceteris_paribus.py
Labels: Python 🐍

#285 [r] update dependencies and error printing
  DESCRIPTION
  NEWS.md
  R/explain.R
  R/misc_loss_functions.R
  R/model_performance.R
Labels: R 🐳

#301 [python] fix shap and barplot baseline
  python/dalex/NEWS.md
  python/dalex/dalex/_explainer/checks.py
  python/dalex/dalex/_explainer/object.py
  python/dalex/dalex/_explainer/yhat.py
  python/dalex/dalex/dataset_level/_aggregated_profiles/object.py
  python/dalex/dalex/dataset_level/_aggregated_profiles/utils.py
  python/dalex/dalex/dataset_level/_variable_importance/object.py
  python/dalex/dalex/instance_level/_break_down/object.py
  python/dalex/dalex/instance_level/_ceteris_paribus/object.py
  python/dalex/dalex/instance_level/_shap/object.py
  python/dalex/dalex/instance_level/_shap/utils.py
  python/dalex/test/test_aggregated_profiles.py
Labels: Python 🐍

#307 [Python] shap wrapper
  python/dalex/NEWS.md
  python/dalex/dalex/__init__.py
  python/dalex/dalex/_explainer/checks.py
  python/dalex/dalex/_explainer/object.py
  python/dalex/dalex/instance_level/_ceteris_paribus/object.py
  python/dalex/dalex/wrappers/__init__.py
  python/dalex/dalex/wrappers/_shap/__init__.py
  python/dalex/dalex/wrappers/_shap/checks.py
  python/dalex/dalex/wrappers/_shap/object.py
  python/dalex/setup.py
  python/dalex/test/test_ceteris_paribus.py
  python/dalex/test/test_predict.py
  python/dalex/test/test_shap_wrapper.py
  tox.ini
Labels: Python 🐍, feature 💡
