Repository ModelOriented/DALEX, pull requests merged in 2020-05, with the labels that each got.

#215 [python] fix check_label
  python/dalex/NEWS.md
  python/dalex/dalex/_explainer/checks.py
  python/dalex/setup.py
Labels: Python 🐍

#217 [r] integer -> numeric
  R/data_fifa.R
  data/fifa.rda
Labels: R 🐳

#219 Remove ggpubr from suggests
  DESCRIPTION
Labels: R 🐳, maintenance 🔨

#220 [python] fix model_profile calculation and numpy defaults
  python/dalex/NEWS.md
  python/dalex/dalex/_explainer/checks.py
  python/dalex/dalex/dataset_level/_aggregated_profiles/checks.py
Labels: Python 🐍

#210 [r] add support for multiclass cliassification
  .github/workflows/R-CMD-check.yaml
  .github/workflows/pkgdown.yaml
  .github/workflows/test-coverage.yaml
  DESCRIPTION
  NAMESPACE
  NEWS.md
  R/explain.R
  R/misc_yhat.R
  R/model_info.R
  R/model_performance.R
  R/predict_diagnostics.R
  R/print_model_performance.R
  man/model_info.Rd
  tests/testthat/test_explain.R
  tests/testthat/test_model_performance.R
  vignettes/multilabel_classification.Rmd
Labels: R 🐳, feature 💡

#201 [r] n_sample -> N
  NEWS.md
  R/model_parts.R
  man/model_parts.Rd
  tests/testthat/test_variable_importance.R
Labels: R 🐳

#221 [python] fixed label and group in model_profile
  python/dalex/NEWS.md
  python/dalex/dalex/_explainer/checks.py
  python/dalex/dalex/_explainer/object.py
  python/dalex/dalex/dataset_level/_aggregated_profiles/checks.py
  python/dalex/dalex/dataset_level/_aggregated_profiles/object.py
  python/dalex/dalex/dataset_level/_aggregated_profiles/utils.py
  python/dalex/dalex/dataset_level/_variable_importance/utils.py
  python/dalex/dalex/instance_level/_shap/utils.py
  python/dalex/test/test_aggregated_profiles.py
  python/dalex/test/test_feature_importance.py
  python/dalex/test/test_model_performance.py
  python/dalex/test/test_predict.py
  python/dalex/test/test_predict_parts.py
Labels: Python 🐍

#230 [python] fix variable_splits and upgrade checks
  python/dalex/NEWS.md
  python/dalex/dalex/_explainer/checks.py
  python/dalex/dalex/_explainer/object.py
  python/dalex/dalex/dataset_level/_variable_importance/checks.py
  python/dalex/dalex/instance_level/_break_down/checks.py
  python/dalex/dalex/instance_level/_ceteris_paribus/checks.py
  python/dalex/dalex/instance_level/_ceteris_paribus/object.py
  python/dalex/dalex/instance_level/_shap/checks.py
  python/dalex/setup.py
  python/dalex/test/test_feature_importance.py
Labels: Python 🐍
